.summary-container{
    background-color: rgb(230, 230, 230);
    position: relative;
    top: 12vh;
    height: 30vh;
    width: 40%;
    border-color: rgba(255, 255, 255, 0.699);
    border-style: ridge;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

